<!-- FOOTER -->
	<footer>
		<div class="footer-container">
			<div class="left-col">
				<img src="images/footer.png" style="width: 200px;">
				<div class="logo"></div>
				<div class="social-media">
					<a href="#"><img src="images/R (1).jfif"></a>
					<a href="#"><img src="images/OIP.jfif"></a>
					<a href="#"><img src="images/R.png"></a>
					<a href="#" target="_blank"><img
							src="images/yout.jfif"></a>
					<a href="#"><img src="images/link.png"></a>
				</div><br><br>
				<p class="rights-text">Copyright © 2022 Created By ashwani kumar|| All Rights Reserved.</p>
				<br>
				<p><img src="images/mmmut.jfif"> Mohan Madan Malviya University of technology<br>gorakhpur, up-273008
				</p><br>
				<p><img src="images/phone.png"> +91-998xxxxxx<br><img src="images/emai.png">&nbsp;
					ashxanixx@gmail.com
				</p>
			</div>
			<div class="right-col">
				<h1 style="color: #fff">Our Newsletter</h1>
				<div class="border"></div><br>
				<p>Enter Your Email to get our News and updates.</p>
				<form class="newsletter-form">
					<input class="txtb" type="email" placeholder="Enter Your Email">
					<input class="btn" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</footer>