<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>
<nav class="navbar">
    <div class="max-width">
        <div class="logo">Ashwani<span style="color: red;">K.</span></div>
        <ul class="menu">
            <li><a href="/ " class="menu-btn active">Home</a></li>
            <li><a href="/html_css" class="menu-btn">Html/Css</a></li>
            <li><a href="/webdesign" class="menu-btn">JavaScript</a></li>
            <li><a href="/clanguage" class="menu-btn">Languages</a></li>
            <li><a href="/dsa" class="menu-btn">Dsa</a></li>
            <li><a href="/quiz" class="menu-btn">Quiz</a></li>
            <li><a href="/" class="menu-btn">Free Download</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>