<!-- PROJECTS -->
<div class="title2" id="projects"><br><br><br><br>
	<span>Browse Projects</span>
	<div class="shortdesc2">
		<p>Here you can find various Projects related to Web Deveopment,c profgrammin,c++ ,python,etc</p>
	</div>
</div>
<div class="project-panel">
	<div class="project-card">
		<img src="images/port.jpg">
		<div class="info">
			<h4>portfolio</h4>
			<p>introducing ourself in portfolio</p>
			<div class="download"><a href="">Download</a></div>
		</div>
	</div>
	<div class="project-card">
		<img src="images/project.png">
		<div class="info">
			<h4>code editz</h4>
			<p>It is an Educational Website made using HTML, CSS & JavaScript</p>
			<div class="download"><a href="">Download</a></div>
		</div>
	</div>
	<div class="project-card">
		<img src="images/galle.jfif">
		<div class="info">
			<h4>Photo Gallery</h4>
			<p>This Website helps you to manage your Personal Photos developed using HTML, CSS & JavaScript</p>
			<div class="download"><a href="">Download</a></div>
		</div>
	</div>
	<div class="project-card">
		<img src="images/fit.jpg">
		<div class="info">
			<h4>Sports Fitness</h4>
			<p>This Website helps you in your favorite Sports made using HTML, CSS & JavaScript</p>
			<div class="download"><a href="">Download</a></div>
		</div>
	</div>
	<div class="project-card">
		<img src="images/tms.jfif">
		<div class="info">
			<h4>Smart TMS</h4>
			<p>This Software helps you to managen the records of Challans used in Traffic Management System made
				using C++</p>
			<div class="download"><a href="">Download</a>
			</div>
		</div>
	</div>

</div>