<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/subjects.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <title>subjects</title>
</head>

<body>
    {{>navbar}}
    <br><br><br><br><br>
    <div class="title" id="data"><br><br><br><br>
        <span style="color: blue; font-weight: bolder; padding-right: 15px;font-family: 'Work Sans', sans-serif;">Learn
            DATA structure<span style="color: RED;font-family: 'Work Sans', sans-serif;">on Code Editz
            </span></span>
        <div class="shortdesc">
            <p style="color: black;">Learn your basic concepts to prepare for a career in<br>App development</p>
        </div>
    </div>
    <div class="title2">
        <div class="cssnotes">
            <center>
                <h1>Introduction to DATA Structures</h1>
            </center><br><br>
            <h2>CSS Tutorial- Introduction To CSS</h2>
            <p>So finally, after completing HTML, we are moving towards the exciting part, i.e. CSS. <br> CSS stands for
                Cascading Style Sheets and is used to design the website to make it look attractive. <br>

                Let us first understand, what is CSS?</p><br><br>
            <ul>
                <li>CSS gives style to raw HTML</li>
                <li>It stands for Cascading Style Sheets</li>
                <li>CSS is used to give style to our web pages</li>
                <li>CSS is used to make websites responsive</li>
                <li>CSS takes the responsibility of design in your websites</li>
            </ul><br><br>
            <p>CSS includes all the things which can be used to design the raw HTML from colouring the <br>
                background and texts, to adjust the borders, give padding, etc. Moreover, CSS helps in <br>making
                websites
                responsive. Responsive means that the site will behave accordingly to <br>the different screen sizes.
                For
                example, if you open a website on a desktop and then on <br>your mobile, you will find the difference
                between their displays. All the components in <br>a navigation bar will move into a hamburger icon if
                you
                open the website on mobile.<br><br>

                We can add styles in the HTML part itself, but I would rather recommend making a new CSS <br>file and
                then
                attach it to the HTML part. It is so because it is a professional practice <br>when different developers
                are
                working on a single website to keep the skeleton of a <br>website in one file and the styling in another
                file.</p><br>
            <h2>Role of CSS</h2><br>
            <li>CSS is a style sheet language that is used to handle the presentation of the web page <br> containing
                HTML.
            </li>
            <li>It makes our websites beautiful and modern looking.</li>

        </div <span>Data Structures</span>
        <div class="shortdesc2">
            <p>Make your data structures concepts strong...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><="datastruct.webp">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="click-me">
        <a href="">Click Here to Watch full playlist</a>
    </div>

    <!-- Videos on ALGORITHM Lectures -->
    <div class="title" id="algo"><br><br><br><br>
        <span style="color: blue; font-weight: bolder; padding-right: 15px;font-family: 'Work Sans', sans-serif;">Learn
            ALGORITHM <span style="color: RED;font-family: 'Work Sans', sans-serif;">on Code Editz
            </span></span>
        <div class="shortdesc">
            <p style="color: black;">Learn your basic concepts to prepare for a career in<br>App development</p>
        </div>
    </div>
    <div class="title2">
        <div class="cssnotes">
            <center>
                <h1>Introduction to algorithm</h1>
            </center><br><br>
            <h2>CSS Tutorial- Introduction To CSS</h2>
            <p>So finally, after completing HTML, we are moving towards the exciting part, i.e. CSS. <br> CSS stands for
                Cascading Style Sheets and is used to design the website to make it look attractive. <br>

                Let us first understand, what is CSS?</p><br><br>
            <ul>
                <li>CSS gives style to raw HTML</li>
                <li>It stands for Cascading Style Sheets</li>
                <li>CSS is used to give style to our web pages</li>
                <li>CSS is used to make websites responsive</li>
                <li>CSS takes the responsibility of design in your websites</li>
            </ul><br><br>
            <p>CSS includes all the things which can be used to design the raw HTML from colouring the <br>
                background and texts, to adjust the borders, give padding, etc. Moreover, CSS helps in <br>making
                websites
                responsive. Responsive means that the site will behave accordingly to <br>the different screen sizes.
                For
                example, if you open a website on a desktop and then on <br>your mobile, you will find the difference
                between their displays. All the components in <br>a navigation bar will move into a hamburger icon if
                you
                open the website on mobile.<br><br>

                We can add styles in the HTML part itself, but I would rather recommend making a new CSS <br>file and
                then
                attach it to the HTML part. It is so because it is a professional practice <br>when different developers
                are
                working on a single website to keep the skeleton of a <br>website in one file and the styling in another
                file.</p><br>
            <h2>Role of CSS</h2><br>
            <li>CSS is a style sheet language that is used to handle the presentation of the web page <br> containing
                HTML.
            </li>
            <li>It makes our websites beautiful and modern looking.</li>
        </div <span>Algorithm</span>
        <div class="shortdesc2">
            <p>Make your algorithm concepts clear...</p>
        </div>
    </div>
    <center>
        <div class="ccardbox2">
            <div class="dcard2"><span class="tag">1/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">2/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">3/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">4/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="dcard2"><span class="tag">5/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">6/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">7/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="dcard2"><span class="tag">8/8</span>
                <div class="fpart2"><="algor.jpg">
                    <iframe src="" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </center>
    <br><br>
    <div class="click-me">
        <a href="">Click Here to Watch full playlist</a>
    </div>
    {{>projects}}
    {{>footer}}
    <script type="text/javascript" src="js/subject.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>